#premierLigne h2 {
  color: purple;
  font-weight: 350;
}
#dexiemeLigne h2 {
  color: purple;
  font-weight: 350;
}
#troisiemeligne h2 {
  color: purple;
  font-weight: 350;
}
#premierParagraphe {
  padding-left: 1.2em;
  font-weight: 500;
  font-size: 1em;
}
#dexiemeParagraphe {
  padding-right: 1.2em;
}
.imgs {
  border-radius: 5px;
}
