.emplacementActuellePME {
  color: black;
  background-color: #dff3ff;
  text-align: left;
  z-index: 10;
  width: 100%;
  padding: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
