div.x {
  align-items: center;
  display: flex;

  background: #eeeeee;
  border: 1px solid #9a9a9a;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 0;
}

input.y.form-control {
  border-radius: 7;
  border: 0px;
}
svg.iconify {
  font-size: 25px;
  margin: 8px;
}
div.infoElm {
  margin: 12px;
}
