/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 350px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */ /* Stay at the top */
  left: 0;

  background-color: #95d4fa; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.9);
  display: block;
  border: 1px solid #2f80ed;
  background: #c5e5f8;
  list-style: none;
  padding: 15px 10px 15px 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 31px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #2f80ed;
  border-left: 10px solid #2f80ed;
}

.submenu {
  font-size: 30px;
  margin-left: 10px;
}
.sidenav a:nth-child(2) {
  padding-left: 26px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
} */
.hide {
  display: none;
}

.show {
  display: block;
}
