.emplacementActuellePAA {
  color: #3e4042;
  background-color: #e2e2e4;
  text-align: left;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 10;
  width: 100%;
  padding: 10px;
}
