.gererCart {
  width: 30%;
  height: max-content;
  height: 100%;
  margin: 1.66%;
  align-items: center;
  padding-bottom: 3em;

  background: #c5e5f8;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 14px;
}
.fas {
  color: #007bff;
}
