div.x {
  align-items: center;
  display: flex;

  background: #eeeeee;
  border: 1px solid #9a9a9a;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 0;
}

input.y.form-control {
  border-radius: 0px 7px 7px 0px;
  border: 0px;
}
svg.iconify {
  font-size: 25px;
  margin: 8px;
}
div.infoElm {
  margin: 12px;
}
.xx {
  display: flex;
  align-items: center;
}

svg.iconify {
  font-size: 25px;
  margin: 8px;
}
div.infoElm {
  margin: 12px;
}
.cc {
  margin: 20px;
}

.browse-border {
  border: 1px solid #9a9a9a;
  border-radius: 0px 7px 7px 0px;
}
.form-control {
  border: 1px solid #9a9a9a;
  background-color: #eeeeee;
}
.container {
  margin-top: 2em;
}
