.parametrer-ecole div.x {
  align-items: center;
  display: flex;

  background: #eeeeee;
  border: 1px solid #9a9a9a;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 0;
}

.parametrer-ecole input.y.form-control {
  border-radius: 0px 7px 7px 0px;
  border: 0px;
}
.parametrer-ecole svg.iconify {
  font-size: 25px;
  margin: 8px;
}
.parametrer-ecole div.infoElm {
  margin: 12px;
}
.parametrer-ecole .xx {
  display: flex;
  align-items: center;
}

.parametrer-ecole svg.iconify {
  font-size: 25px;
  margin: 8px;
}
.parametrer-ecole div.infoElm {
  margin: 12px;
}
.parametrer-ecole .cc {
  margin: 20px;
}

.parametrer-ecole .browse-border {
  border: 1px solid #9a9a9a;
  border-radius: 0px 7px 7px 0px;
}
.parametrer-ecole .form-control {
  border: 1px solid #9a9a9a;
  background-color: #eeeeee;
}
.parametrer-ecole .container {
  margin-top: 2em;
}
